/* Reset CSS */

body,
header,
h1,
nav,
footer,
main,
div,
img,
ul {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background-color: rgb(228, 219, 219);
}

img {
  max-width: 100%;
  display: block;
}

/* Style rules for header */
header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #f5d4ec;
  height: 80px;
}

/* centers logo */
header img {
  margin: 0 auto;
}

/* Style rules for nav */
nav {
  padding: 1%;
  margin-bottom: 1%;
}

nav ul {
  list-style-type: none;
  text-align: center;
}

nav li {
  font-size: 1.5em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-top: 1px solid #D8BFD8;
}

nav li a {
  text-decoration: none;
  color: black;
  padding: 0.5em 1em;
  display: block;
}

/* mobile */

.mobile{
    display: block;
      background-color: #404040;
      padding: 2% 2% 2% 2%;
      margin:2% 2% 2% 2%;
      color: white;
      border-radius: 10px;


}

.tablet-desktop{
    display: none;
}

nav li:first-child{
    border-top: none;
}
/* Myabe add a differnt bg color */
main {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 1.25em;
  /* background-color: #f5d4ec; */
}

.tablet-desktop{
  /* border: 3px solid #D8BFD8; */
  /* padding: 50px auto; */
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color:#404040 ;
  margin: 5% 5% 5% 5%;
  color: white;
  padding: 5% 5% 5% 5%;
  border-radius: 10px;
}

.tablet-desktop, h3{
  text-align: center;
}

.action{
  font-size: 1.1em;
  font-weight: bold;
}

.action, h4, h3{
  color: #D8BFD8;
}

.external-link {
  background-color: #404040;
  padding: 2% 2% 2% 2%;
  text-align: center;
  border-radius: 10px;
  margin: 2% 2% 2% 2%;
}

.external-link a{
  text-decoration: none;
  list-style-type: none;
  color: #f398da;
  
}

.tel-link {
  background-color: #404040;
  padding: 2%;
  margin: 0 auto;
  width: 80%;
  text-align: center;
  border-radius: 5px;
  color: #fff;
}

.tel-link a {
  color: #fff;
  text-decoration: none;
  font-size: 1.5em;
  display: block;
}

.hours {
  margin-left: 10%;
}

.map {
  border: 8px solid #fff;
  /* margin: 10%; */
}

h1 {
  text-align: center;
  color: #D8BFD8;
}

footer {
  clear: both;
  /* background-color: #ddbdd4; */
}

footer p {
  font-size: 0.75em;
  text-align: center;
  color: black;
  padding: 0 1em;
}

footer p a {
  text-decoration: none;
  color: black;
}

#contact .contact-email-link {
  color: #D8BFD8;
  text-decoration: none;
}

/* Media Query for Tablet Viewport */
@media screen and (min-width: 630px), print {
  /* Tablet Viewport: Show tablet-desktop class, hide mobile class */
  .tablet-desktop {
    display: block;
  }

  .mobile {
    display: none;
  }

  /* Tablet Viewport: Style rule for header */
  header {
    padding-bottom: 2%;
    
  }
  header a {
    position: sticky;
  }

  /* Tablet Viewport: Style rules for nav area */
  nav li {
    border-top: none;
    display: inline-block;
    border-right: 2px solid #f398da;
  }

  nav li:last-child {
    border-right: none;
  }

  nav li a {
    padding: 0.1em 0.75em;
  }


 

  /* Tablet Viewport: Style rules for main content area */

  main ul {
    margin: 0 0 4% 10%;
  }

  .tel-num {
    font-size: 1.5em;
  }

  .map {
    width: 600px;
    height: 450px;
  }

.products{
  background-color: #404040;
  margin: 2% 2% 2% 2%;
  padding: 2% 2% 2% 2%;
  border-radius: 10px;
  color: #D8BFD8;

}

  .products dt {
    font-weight: bold;
    font-size: 2em;
  }

  .products dd {
    padding: 0.5% 1% 2% 0;
    font-size: 1.5em;
  }
}
@media screen and (min-width: 1015px), print {
    /* Desktop Viewport: Style rule for header */
    header {
      width: 25%;
      float: left;
      padding-bottom: 0;
    }
  
    /* Desktop Viewport: Style rules for nav area */
  
    nav {
      float: right;
      width: 70%;
      margin: 4em 1em 0 0;
    }
  
    nav ul {
      text-align: right;
    }
  
    nav li {
      border: none;
    }
  
    nav li a {
      padding: 0.5em 1em;
    }
  
    nav li a:hover {
      color: #000;
      background-color: #fff;
    }
  
    /* Desktop Viewport: Style Rules for main content */
    main {
      clear: left;
    }
  
    main h1 {
      font-size: 1.8em;
    }
  }
  
  .round {
    border-radius: 8px;
  }
.container {
  clear: both;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  justify-content: space-evenly;
}



/* .contact-email-link{

} */

/* 
Fix nav & logo for larger screens
change hero image in contact
change colors
change font via google link

change products
test site as per ss required

hand in


*/
